[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KIPI/Plugin
X-KDE-DerivedName=KIPI Plugin
Name=KIPIPlugin
Name[da]=KIPI-plugin
Name[et]=KIPI plugin
Name[it]=PluginDiKIPI
Name[nl]=Kipi-plugin
Name[pt]=PluginKIPI
Name[sv]=KIPI-insticksprogram
Name[ta]=கிபி சொருகுப்பொருள்
Name[tr]=KIPIEklentisi
Name[xx]=xxKIPIPluginxx
Comment=A KIPI Plugin
Comment[da]=En KIPI plugin
Comment[de]=Ein KIPI Plugin
Comment[et]=KIPI plugin
Comment[fr]=Module externe Kipi
Comment[it]=Un plugin di KIPI
Comment[mt]=Plugin KIPI
Comment[nl]=Een Kipi-plugin
Comment[pt]=Um 'Plugin' KIPI
Comment[sv]=Ett KIPI-insticksprogram
Comment[ta]=ஒரு கிபி சொருகுப்பொருள்
Comment[tr]=Bir KIPI Eklentisi
Comment[xx]=xxA KIPI Pluginxx

[PropertyDef::X-KIPI-Id]
Type=QString

[PropertyDef::X-KIPI-ReqFeatures]
Type=QStringList

