[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KIPI/Plugin
X-KDE-DerivedName=KIPI Plugin
Name=KIPIPlugin
Name[ar]=كايْبِيبْلوغِن
Name[ast]=KIPIPlugin
Name[bg]=KIPIPlugin
Name[bs]=KIPI priključak
Name[ca]=KIPIPlugin
Name[ca@valencia]=KIPIPlugin
Name[cs]=KIPIPlugin
Name[da]=KIPIPlugin
Name[de]=KIPI-Modul
Name[el]=Πρόσθετο KIPI
Name[en_GB]=KIPIPlugin
Name[es]=KIPIPlugin
Name[et]=KIPI plugin
Name[eu]=KIPIPlugin
Name[fi]=KIPIPlugin
Name[fr]=Module externe KIPI
Name[ga]=KIPIPlugin
Name[gl]=KIPIPlugin
Name[hne]=केआईपीआईप्लगइन
Name[hr]=KIPI-priključak
Name[hu]=KIPI-bővítmény
Name[ia]=KIPIPlugin
Name[is]=KIPI-íforrit
Name[it]=KIPIPlugin
Name[ja]=Kipi プラグイン
Name[kk]=KIPIPlugin
Name[km]=KIPIPlugin
Name[ko]=KIPIPlugin
Name[ku]=KIPIPlugin
Name[lt]=KIPIPriedas
Name[lv]=KIPIPlugin
Name[mr]=किपि-प्लगइन
Name[nb]=KIPIPlugin
Name[nds]=KIPI-Moduul
Name[nl]=KIPIPlugin
Name[nn]=KIPIPlugin
Name[pa]=KIPIPlugin
Name[pl]=KIPIPlugin
Name[pt]=KIPIPlugin
Name[pt_BR]=KIPIPlugin
Name[ro]=KIPIPlugin
Name[ru]=KIPIPlugin
Name[sk]=KIPIPlugin
Name[sl]=KIPIPlugin
Name[sr]=КИПИ прикључак
Name[sr@ijekavian]=КИПИ прикључак
Name[sr@ijekavianlatin]=KIPI priključak
Name[sr@latin]=KIPI priključak
Name[sv]=KIPI-insticksprogram
Name[th]=KIPIPlugin
Name[tr]=KIPI Eklentisi
Name[ug]=KIPIPlugin
Name[uk]=KIPIPlugin
Name[x-test]=xxKIPIPluginxx
Name[zh_CN]=KIPIPlugin
Name[zh_TW]=KIPI 外掛程式
Comment=A KIPI Plugin
Comment[ar]=ملحق كايْبي
Comment[ast]=Un complementu pa KIPI
Comment[bg]=Приставка KIPI
Comment[bs]=KIPI priključak
Comment[ca]=Un connector de la KIPI
Comment[ca@valencia]=Un connector KIPI
Comment[cs]=KIPI modul
Comment[da]=Et KIPI-plugin
Comment[de]=Ein KIPI-Modul
Comment[el]=Ένα πρόσθετο του KIPI
Comment[en_GB]=A KIPI Plugin
Comment[es]=Un complemento para KIPI
Comment[et]=KIPI plugin
Comment[eu]=KIPI plugina
Comment[fi]=KIPI-liitännäinen
Comment[fr]=Un module externe KIPI
Comment[ga]=Breiseán KIPI
Comment[gl]=Un engadido de KIPI
Comment[hne]=केआईपीआई प्लगइन
Comment[hr]=KIPI-priključak
Comment[hu]=Egy KIPI-bővítmény
Comment[ia]=Un Plugin de KIPI
Comment[is]=KIPI íforrit
Comment[it]=Un'estensione di KIPI
Comment[ja]=Kipi プラグイン
Comment[kk]=KIPI плагині
Comment[km]=កម្មវិធី​ជំនួយ KIPI
Comment[ko]=KIPI 플러그인
Comment[ku]=Pêveka KIPI
Comment[lt]=KIPI priedas
Comment[lv]=KIPI spraudnis
Comment[mr]=एक किपि प्लगइन
Comment[nb]=Et KIPI-programtillegg
Comment[nds]=En KIPI-Moduul
Comment[nl]=Een KIPI-plugin
Comment[nn]=Eit programtillegg til KIPI
Comment[pa]=ਕਿਪਿ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka KIPI
Comment[pt]=Um 'Plugin' do KIPI
Comment[pt_BR]=Um Plugin do KIPI
Comment[ro]=Un modul KIPI
Comment[ru]=Модуль KIPI
Comment[sk]=Zásuvný modul KIPI
Comment[sl]=Vstavek KIPI
Comment[sr]=КИПИ прикључак
Comment[sr@ijekavian]=КИПИ прикључак
Comment[sr@ijekavianlatin]=KIPI priključak
Comment[sr@latin]=KIPI priključak
Comment[sv]=Ett KIPI-insticksprogram
Comment[th]=ส่วนเสริมของ KIPI
Comment[tr]=Bir KIPI Eklentisi
Comment[ug]=KIPI قىستۇرمىسى
Comment[uk]=Додаток KIPI
Comment[x-test]=xxA KIPI Pluginxx
Comment[zh_CN]=一个 KIPI 插件
Comment[zh_TW]=KIPI 外掛程式

[PropertyDef::X-KIPI-Id]
Type=QString

[PropertyDef::X-KIPI-ReqFeatures]
Type=QStringList

[PropertyDef::X-KIPI-PluginCategories]
Type=QStringList

[PropertyDef::X-KIPI-BinaryVersion]
Type=int
