[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KIPI/Plugin
X-KDE-DerivedName=KIPI Plugin
Name=KIPIPlugin
Name[br]=Lugent KIPIP
Name[cs]=KIPI modul
Name[da]=KIPI-plugin
Name[es]=Extensión de KIPI
Name[et]=KIPI plugin
Name[fi]=KIPILiitännäinen
Name[gl]=Plugin de KIPI
Name[it]=PluginDiKIPI
Name[nb]=KIPI programtillegg
Name[nl]=KIPI-plugin
Name[pl]=Wtyczka KIPI
Name[pt]='Plugin' do KIPI
Name[sk]=KIPI modul
Name[sr]=KIPI прикључак
Name[sr@Latn]=KIPI priključak
Name[sv]=KIPI-insticksprogram
Name[tg]=МодулиKIPI
Name[tr]=KIPIEklentisi
Name[xx]=xxKIPIPluginxx
Name[zh_CN]=KIPI 插件
Comment=A KIPI Plugin
Comment[ar]=قابس KIPI
Comment[bg]=Приставка за KIPI
Comment[br]=Ul lugent KIPI
Comment[cs]=KIPI modul
Comment[da]=Et KIPI-plugin
Comment[de]=Ein KIPI-Modul
Comment[el]=Ένα πρόσθετο του KIPI
Comment[es]=Una extensión para KIPI
Comment[et]=KIPI plugin
Comment[fi]=Kipi-liitännäinen
Comment[fr]=Un module externe KIPI
Comment[ga]=Breiseán KIPI
Comment[gl]=Un plugin de KIPI
Comment[it]=Un plugin di KIPI
Comment[ja]=Kipi プラグイン
Comment[ka]=KIPI-ს მოდული
Comment[lt]=KIPI priedas
Comment[nb]=Et KIPI programtillegg
Comment[nl]=Een KIPI-plugin
Comment[pa]=ਇੱਕ KIPI ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka KIPI
Comment[pt]=Um 'Plugin' do KIPI
Comment[pt_BR]=Um Plug-in do KIPI
Comment[sk]=KIPI modul
Comment[sr]=KIPI прикључак
Comment[sr@Latn]=KIPI priključak
Comment[sv]=Ett KIPI-insticksprogram
Comment[tg]=Модули KIPI
Comment[tr]=Bir KIPI Eklentisi
Comment[uk]=Втулок KIPI
Comment[xx]=xxA KIPI Pluginxx
Comment[zh_CN]=一个 KIPI 插件

[PropertyDef::X-KIPI-Id]
Type=QString

[PropertyDef::X-KIPI-ReqFeatures]
Type=QStringList

