[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KIPI/Plugin
X-KDE-DerivedName=KIPI Plugin
Name=KIPIPlugin
Comment=A KIPI Plugin

[PropertyDef::X-KIPI-Id]
Type=QString

[PropertyDef::X-KIPI-ReqFeatures]
Type=QStringList

#Lists the supported mimetypes
[PropertyDef::X-KIPI-Mimetypes]
Type=QStringList

#Lists the defined interfaces, by now just ExportInterface
[PropertyDef::X-KIPI-Interfaces]
Type=QStringList


