[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KIPI/Plugin
X-KDE-DerivedName=KIPI Plugin
Name=KIPIPlugin
Name[ar]=كايْبِيبْلوغِن
Name[de]=KIPI-Modul
Name[el]=Πρόσθετο KIPI
Name[et]=KIPI plugin
Name[fr]=Module externe KIPI
Name[is]=KIPI-íforrit
Name[ja]=Kipi プラグイン
Name[lt]=KIPIPriedas
Name[nds]=KIPI-Moduul
Name[sv]=KIPI-insticksprogram
Name[tr]=KIPI Eklentisi
Name[x-test]=xxKIPIPluginxx
Name[zh_TW]=KIPI 外掛程式
Comment=A KIPI Plugin
Comment[ar]=ملحق كايْبي
Comment[ca]=Un connector KIPI
Comment[cs]=KIPI modul
Comment[da]=Et KIPI-plugin
Comment[de]=Ein KIPI-Modul
Comment[el]=Ένα πρόσθετο του KIPI
Comment[es]=Un complemento para KIPI
Comment[et]=KIPI plugin
Comment[fr]=Un module externe pour KIPI
Comment[ga]=Breiseán KIPI
Comment[gl]=Unha extension de KIPI
Comment[is]=KIPI íforrit
Comment[it]=Un plugin di KIPI
Comment[ja]=Kipi プラグイン
Comment[km]=កម្មវិធី​ជំនួយ KIPI
Comment[ko]=KIPI 플러그인
Comment[ku]=Pêveka KIPI
Comment[lt]=KIPI priedas
Comment[lv]=KIPI spraudnis
Comment[nb]=Et KIPI-programtillegg
Comment[nds]=En KIPI-Moduul
Comment[nl]=Een KIPI-plugin
Comment[nn]=Eit programtillegg til KIPI
Comment[pa]=ਕਿਪਿ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka KIPI
Comment[pt]=Um 'Plugin' do KIPI
Comment[pt_BR]=Um Plug-in do KIPI
Comment[ro]=Un modul KIPI
Comment[ru]=Модуль KIPI
Comment[sl]=Vstavek KIPI
Comment[sv]=Ett KIPI-insticksprogram
Comment[th]=โปรแกรมเสริม KIPI
Comment[tr]=Bir KIPI Eklentisi
Comment[uk]=Додаток KIPI
Comment[x-test]=xxA KIPI Pluginxx
Comment[zh_CN]=一个 KIPI 插件
Comment[zh_TW]=KIPI 外掛程式

[PropertyDef::X-KIPI-Id]
Type=QString

[PropertyDef::X-KIPI-ReqFeatures]
Type=QStringList

