<!DOCTYPE kpartgui>
<kpartgui name="KIPIDemo" version="1">
  <MenuBar>
    <Menu name="plugins">
      <text>Plugins</text>
      <Menu name="images">
        <text>Images</text>
      </Menu>
      <Menu name="import">
        <text>Import</text>
      </Menu>
      <Menu name="export">
        <text>Export</text>
      </Menu>
      <Menu name="effects">
        <text>Effects</text>
      </Menu>
    </Menu>
  </MenuBar>
</kpartgui>
